:root {
  --clr: #265df2;
}
* {
  padding: 0;
  margin: 0;
  z-index: 3;
}
.App {
  height: 100vh;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #020617;
  color: azure;
  display: flex;
  align-items: center;
  gap: 40px;
  flex-direction: column;
  overflow: hidden;
}
header {
  padding: 10px;
  width: 90%;
}
section {
  width: 90%;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}
.container p {
  width: 80%;
  text-align: center;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
li {
  color: #265df2;
  font-family: monospace;
  font-size: 20px;
}
ul > :last-child {
  border-radius: 6px;
  border: azure solid 2px;
  padding: 5px 30px;
  font-size: 12px;
  cursor: pointer;
  color: azure;
}
button {
  transition: transform 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045),
    background-color 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045),
    border 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
ul > :last-child:hover,
button:hover {
  color: azure;
  background-color: #1550f2;
  border-color: #1550f2;
  transform: scale(1.06) rotate(1deg);
}
/* Style the label as a button */
.custom-file-upload {
  display: inline-block;
  padding: 15px 100px;
  cursor: pointer;
  background-color: #265df2;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}
.container-imgs-proccess {
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 10px;
  animation: animate 0.7s linear;
}
.container-imgs-proccess > * {
  border-radius: 5px;
  width: auto;
  max-height: 250px;
}
canvas {
  border-radius: 8px;
}
.canvas-bg {
  position: absolute;
  height: 100vh;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-image: linear-gradient(
      to right,
      rgba(79, 79, 79, 0.18) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(79, 79, 79, 0.18) 1px, transparent 1px);
  background-size: 14px 24px;
  mask-image: radial-gradient(
    ellipse 60% 50% at 50% 0%,
    #000 70%,
    transparent 120%
  );
  -webkit-mask-image: radial-gradient(
    ellipse 60% 50% at 50% 0%,
    #000 70%,
    transparent 120%
  );
}
.choose-btn{
  /* animation: animate-btn cubic-bezier(0.23, 1, 0.320, 1) 1s infinite alternate; */
}
@keyframes animate-btn{
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.1);
  }
}
.container-options .dowloade {
  background-color: #265df2;
  padding: 8px 40px;
  width: 50%;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s all cubic-bezier(0.47, 0, 0.745, 0.715);
}
a {
  text-decoration: none;
  color: azure;
}
.dowloade:hover {
  background-color: #2c5ada;
  transform: scale(1.1) rotate(1deg) rotateY(15deg) !important;
}
.content {
  width: 70%;
  display: flex;
  gap: 10px;
}
.section-content {
  /* background-color: red; */
  position: absolute;
  bottom: 10%;
}
.content .img-block {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 5px;
  cursor: pointer;
}
.content canvas {
  background-color: red;
}
.dispose-url {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dispose-url span {
  color: #4e79ef;
  cursor: pointer;
  margin-left: 3px;
  position: relative;
}
.dispose-url span::after {
  content: "";
  position: absolute;
  bottom: 0px;
  border-radius: 3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #4e79ef;
  transform-origin: left;
  transform: scaleX(0);
  transition: 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) transform;
}
.dispose-url span:hover:after {
  transform: scaleX(1);
}
.url-form {
  background-color: rgba(17, 34, 51, 0.963);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.277);
  width: 40%;
  height: 213px;
  border-radius: 5px;
  position: absolute;
  top: 22%;
  flex-direction: row;
  gap: 10px;
  z-index: 12;
  opacity: 0;
  transform: scale(0.8);
  transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) transform,
    0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) opacity;
}
.url-form h1 {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
}
.url-form.show {
  opacity: 1;
  transform: scale(1);
}
.url-form > input {
  height: 25px;
  font-size: 9px;
}
.url-form > button {
  color: azure;
  cursor: pointer;
  background-color: #265df2;
  border-radius: 5px;
  border: none;
  height: 28px;
  padding-inline: 50px;
}
.url-form > button:hover {
  background-color: #1550f2;
}
.custom-file-upload:hover {
  background-color: #1b4cd2;
}
/*  ---------- btns like and deslike and trash ---------- */
.container-remove-like {
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
  height: 60px;
  gap: 17px;
  min-width: 120px;
}
.container-remove-like :not(.bar) {
  cursor: pointer;
}
.container-remove-like .btn{
  transition: .4s  cubic-bezier(0.55, 0.085, 0.68, 0.53) color;
}
.container-remove-like .btn:hover{
  animation: animate-btn 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) alternate infinite;
  color:  #1550f2;
}
@keyframes animate-btn{
  0%{
    transform: scale(1) translateY(0px) rotate(0deg);
  }
  100%{
    transform: scale(1.2) translateY(-4px) rotate(-10deg);
  }
}
/*  ---------- Options Add Image And Change Color ---------- */
.container-options {
  background-color: #081033;
  width: 300px;
  flex-direction: column;
  height: 100%;
  gap: 15px;
}
.option {
  cursor: pointer;
  width: 70%;
  justify-content: start !important;
}
.btn-add-img-color,
.effacer,
.effect {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: relative;
  font-size: 13px;
  border: 2px solid azure;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
}
.option p,
.effacer p,
.effect p {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
}
.option:hover p {
  transform: translate(10px);
}
.option:hover .btn-add-img-color,
.option:hover .effacer,
.option:hover .effect {
  transform: scale(1.1);
  color: #4e79ef;
  border-color: #88a3ee;
}
.container-options > * {
  gap: 10px;
}
.canvas-image-process {
  background: linear-gradient(
    120deg,
    #2e5fe8,
    rgba(69, 69, 216, 0.561),
    transparent
  );
  background: url("./assets/back.png") center/contain repeat;
}
/*  ---------- Zoom in and out ---------- */

.zoom-in-out {
  display: flex;
  padding: 4px 10px;
  gap: 20px;
}
.zoom-in-out > * {
  width: 35px;
  aspect-ratio: 1;
  cursor: pointer;
  border-radius: 5px;
  background-color: #4e79ef;
  transition: 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95) all;
}
.zoom-in-out > *:hover {
  transform: scale(1.1) rotate(6deg);
}
.is-blocked {
  cursor: not-allowed;
}
.rubik-glitch {
  font-family: "Rubik Glitch", serif;
  font-weight: 400;
  font-style: normal;
}
.bai {
  font-family: "Bai Jamjuree", serif;
  font-weight: 200;
  font-style: normal;
}
.francois {
  font-family: "Francois One", serif;
  font-weight: 400;
  font-style: normal;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-xmark {
  position: absolute;
  top: 3%;
  right: 2%;
  cursor: pointer;
}
.disabled{
  opacity: 1;
  cursor: not-allowed;
}
.disabled:hover{
  transform: scale(1);
}